version: '3.3'
services:
  roombooking: 
    image: "misterthias/tfroombooking"
    restart: always
    expose:
      - "5000"
    depends_on:
      - db
    environment:
      - ConnectionString="Server=db;Database=roombookingdb;User=sa;Password=Super@Str0ng;TrustServerCertificate=true"
  db:
    image: "mcr.microsoft.com/mssql/server"
    restart: always
    environment:
      - SA_PASSWORD=Super@Str0ng
      - ACCEPT_EULA=Y
    expose:
      - '1433'
    volumes:
      - db:/var/opt/mssql
  loadbalancer:
    image: nginx:alpine
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./proxy.conf:/etc/nginx/proxy.conf:ro
    depends_on:
      - roombooking
    ports:
      - "8080:5000"
volumes:
  db:
    driver: local